.grid-container {
    /* margin: 15px; */
    margin: 15px 0 0 15px;
}

.title {
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: #005994;
    font-size: 19px;
    margin-bottom: 4px;
}


  
mat-card {
    flex: 0 0 calc(14.28% - 16px);
    width: 150%;
    margin-bottom:15px ;
    color: white;
    border-radius: 10px;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 600px) {
    [fxLayout] {
      flex-wrap: wrap;
    }
  
    mat-card {
      flex: 0 0 calc(33.33% - 16px);
    }
  }

.zoom:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

